body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#error {
  border: 1px solid orangered;
  color: black;
  font-weight: bolder;
  padding: 1%;
  text-align: center;
  margin-bottom: 5%;
  display: none;
}

.flexPop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredDynamics {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0, 80%);
  display: flex;
  justify-content: center;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background: #fff;
  gap: 15px;
  padding: 3% 5%;
}

.popupDesktop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  gap: 15px;
  margin: 10% 5%;
  transition: 200ms ease-out;
  inset: 0 0 0 0;
}

.popup.active {
  transform: scale(1);
}

.popupIntro {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.popupName {
  align-self: flex-start;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.popupClose {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
}

.popupButtons {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  padding: 0;
}

.listItemPopup {
  justify-self: flex-start;
  border: 1px solid #3c3a39;
  padding: 2%;
}

.popupImg {
  max-height: 95%;
  max-width:95%;
}

.popupDescription {
  width: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #344563;
}

.popupSources {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.popupLive,
.popupSource {
  display: flex;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  background-color: #ff6b00;
  color: white;
  padding: 2%;
  align-items: center;
  width: 45%;
  justify-content: space-around;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

#blurry {
  position: fixed;
  opacity: 1;
  transition: 200ms ease-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  pointer-events: none;
}

#blurry.active {
  opacity: 1;
  pointer-events: all;
}

.firstpage {
  background-color: #1c1a19;
  background-image: url("./images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.closeIcon {
  display: none;
}

button {
  transition: all 160ms ease-in;
  cursor: pointer;
}

button:hover {
  background-color: #fa7500;
  border: 1px solid #f55800;
  color: #000;
}

button:active {
  background-color: #e05304;
  color: white;
}

a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease;
}

ul {
  list-style: none;
}

.headline {
  margin: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-family: Crete-Round, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin-top: 50px;
  margin-bottom: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.nav-bar {
  height: 2px;
  margin: 6px 0;
}

.displayedMenu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #3c3a39;
  color: white;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start;
  gap: 5%;
  margin: 0;
  padding-top: 60px;
}

.openMenu {
  transform: translateY(0);
}

.envelopeIcon {
  display: none;
}

.navItem {
  align-self: end;
  padding-right: 5%;
  border: none;
}

.itemBorder {
  border-bottom: 2px solid #6f6c6b;
  margin-right: 10%;
  line-height: 70px;
}

.actualForm {
  margin: auto;
}

.title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
}

.description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
  color: white;
}

.introduction {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 50%;
  color: white;
}

.images {
  display: flex;
  align-items: center;
}

.images li {
  padding-right: 12px;
}

.white {
  background-color: white;
  width: 100%;
}

.worktitle {
  width: 315px;
  height: 52px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-right: 24px;
}

.work-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: white;
  text-align: left;
  height: 81px;
  margin-bottom: 3px;
  background-color: #4f4f4f;
}

h2.work-title {
  margin: auto 0%;
  margin-top: 2%;
  margin-right: 24px;
}

.gymfit {
  margin-top: 30px;
  padding-left: 15px;
}

.border {
  width: 87.2%;
  height: 0;
  left: 0;
  top: 107px;
  border: 1px solid #212121;
  padding-left: 20px;
}

.over {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  background-color: white;
}

.secondPage {
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: white;
}

.up {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.down {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.mainText {
  color: black;
  padding-left: 10px;
  max-width: 60%;
}

.socials {
  display: flex;
  padding-left: 10px;
}

.boxes {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  margin-right: 12px;
  list-style: none;
  color: black;
}

.boxes2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  margin-right: 12px;
  list-style: none;
  color: white;
  fill: rgba(255, 255, 255, 0.24);
  background-color: #4f4f4f;
}

.buttons {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  width: auto;
  height: 50px;
  margin: 12px 0%;
  padding: 10px 12px;
  background-color: #fa7500;
  color: black;
  line-height: 24px;
  justify-content: flex-start;
  border: 1px solid transparent;
}

.buttons:hover {
  border: 1px solid #ff6b00;
  color: #ff6b00;
  background-color: bisque;
  box-shadow: 0 6px 16px rgb(213, 213, 213);
}

.buttons:active {
  border: 1px solid transparent;
  color: white;
  background-color: #da5b00;
}

.buttons:disabled {
  color: gray;
  background-color: beige;
}

.buttonsee {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  width: 150px;
  height: 50px;
  margin: 12px 0%;
  padding: 10px 12px;
  background-color: #fa7500;
  color: black;
  line-height: 24px;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
}

.buttonsee:hover {
  border: 1px solid #ff6b00;
  color: #ff6b00;
  background-color: bisque;
  box-shadow: 0 6px 16px rgb(213, 213, 213);
}

.buttonsee:active {
  border: 1px solid transparent;
  color: white;
  background-color: #da5b00;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.worksgrid {
  justify-self: center;
  display: grid;
  height: auto;
  max-width: 100%;
  list-style: none;
}

.worksgrid > * {
  display: flex;
  text-align: center;
  justify-self: center;
  color: black;
  margin: auto 24px;
  background-color: transparent;
  height: 682px;
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 0%;
}

ul.worksgrid {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.workspage {
  display: grid;
  flex-direction: column;
  padding: 0%;
  height: auto;
  align-items: center;
  margin: 0% 12px 12px 12px;
}

.workspage2 {
  align-self: center;
  justify-content: center;
  margin: 12px 24px;
  min-height: 386px;
  height: 386px;
  width: 327px;
  background-image: url("images/works.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.workspage2:hover {
  box-shadow: 0 6px 16px rgb(213, 213, 213);
}

.multi-post-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 12px 0% 12px;
}

.card2 {
  display: flex;
  flex-direction: column;
  width: 295px;
  min-width: 295px;
  flex-grow: 1;
  margin-top: 86px;
  align-self: center;
}

.workspage2 > .card2 {
  display: flex;
}

.work-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-align: left;
  margin: 12px auto;
  height: 87px;
  background-color: #4f4f4f;
}

.about {
  height: 700px;
  width: 100%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c1a19;
  background-image: url('./Images/frame.png');
  background-repeat: no-repeat;
  background-position: 100% 14%;
  color: #f4f5f7;
  width: 100%;
}

.bioTitle {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
  margin-top: 0;
  padding: 24px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.bio {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 24px;
  margin: 0;
}

.whiteline {
  display: flex;
  padding-top: 200px;
  margin: 0 auto;
}

.resume {
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #fa7500;
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

.resume:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: #f55800 solid 1px;
}

.resume:active {
  background-color: #e05304;
  color: white;
}

.listTitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titles {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.itemsList {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5px;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  justify-content: left;
  color: #172b4d;
  margin: 50px 24px 100px 24px;
}

.formSection {
  border-bottom: 1px solid lightgray;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.formlist {
  padding: 0;
}

.inputform {
  padding: 10px 0 10px 0;
  border-bottom: 1px lightgray solid;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input {
  border: none;
  padding: 0 16px 0 16px;
}

textarea {
  background-color: #e5e5e5;
  height: 114px;
  width: 100%;
  border: none;
  padding: 12px;
  font-family: Inter, sans-serif;
}

.formButton {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  left: 0;
  top: 259px;
  background: #fa7500;
  color: black;
  border: 0;
  margin-left: 12px;
  margin-bottom: 50px;
}

.msgborder {
  border: none;
}

.boticons {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 20px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .closeIcon {
    display: none;
  }

  .flexPop {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 80% 20%;
    margin-bottom: 2%;
  }

  .main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0, 80%);
    display: flex;
    justify-content: center;
  }

  .popup {
    padding: 2% 2%;
  }

  .popup.active {
    transform: scale(1);
  }

  .popupIntro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0;
  }

  .popupName {
    align-self: flex-start;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #172b4d;
  }

  .popupClose {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
  }

  .popupButtons {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 10px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3c3a39;
  }

  .listItemPopup {
    justify-self: flex-start;
    border: 1px solid #3c3a39;
    padding: 10px;
  }

  .popupImg {
    width: 659px;
    height: 448px;
    grid-area: 1 / 1 / span 2 / span 1;
    justify-content: center;
  }

  .popupDescription {
    width: 95%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #344563;
    align-self: start;
  }

  .popupSources {
    display: flex;
    width: 100%;
    align-self: end;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 0;
  }

  .popupLive,
  .popupSource {
    width: auto;
    display: flex;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    background-color: #ff6b00;
    color: white;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    gap: 15px;
  }

  #blurry {
    position: fixed;
    opacity: 1;
    transition: 200ms ease-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    pointer-events: none;
  }

  #blurry.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .header {
    background: #3e3c3c;
    margin: 0;
    padding: 3% 5%;
  }

  .firstpage {
    background-image: url('./images/Illustration-header@2x.png');
    background-repeat: no-repeat;
    background-position: 100% 88%;
    background-size: 50%;
  }

  .secondPage {
    margin: 0 100px;
    width: auto;
  }

  .title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hamburgerToggle {
    display: none;
  }

  .icon {
    display: none;
  }

  .itemBorder {
    border-bottom: none;
    margin-right: 0;
  }

  .desktopMenu {
    background-color: #3e3c3c;
    display: flex;
    transform: translateY(-50%);
    position: static;
    flex-direction: row;
    padding: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 1px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }

  .displayedMenu {
    display: flex;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 1px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }

  .envelopeIcon {
    display: block;
  }

  .menuItem:hover {
    color: #f55800;
  }

  .envelopeIcon:hover {
    color: #f55800;
  }

  .row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    height: 800px;
  }

  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .name {
    font-size: 72px;
    line-height: 82px;
    max-width: 40%;
  }

  .description {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .introduction {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .white {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
  }

  .border {
    width: 60%;
  }

  .worktitle {
    font-family: Crete-Round, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white;
    margin-left: 8%;
  } 

  .cardspop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      padding-left: 10px;
      padding-bottom: 100px;
    }
  
    .secondItem {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 600px;
    }

  .gymfit {
    max-width: 684px;
    padding-left: 10px;
    height: 448px;
  }

  .card {
    align-content: center;
    max-width: 648px;
    flex-grow: 2;
    background-size: contain;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    float: right;
    padding-right: 12px;
  }

  .up {
    font-family: Crete-Round, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .down {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .socials {
    margin: 0 10px 5px 0;
    padding: 0;
    height: 40px;
    width: auto;
  }

  .work-section {
    display: grid;
    margin: 135px 5% 0 5%;
    padding: 0;
  }

  ul.worksgrid {
    max-width: 83.6111%;
    align-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 381px);
    gap: 22px;
    row-gap: 37px;
    margin-top: 24px;
    margin-left: 8%;
    margin-bottom: 5%;
  }

  .workspage {
    max-width: 100%;
  }

  .workspage > * {
    max-width: 100%;
  }

  .workspage2 {
    width: 369px;
    min-width: 369px;
    height: 435px;
    margin: 0%;
    border: 1px solid transparent;
  }

  .card2 {
    margin-top: 100px;
    margin-left: 20px;
    padding: 0;
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: none;
    margin: auto;
    padding: 0;
    width: 100%;
  }

  .card2:hover .buttons {
    display: block;
  }

  .aboutMe {
    display: flex;
    background-image: none;
    background-color: #262626;
  }

  .thirdPage {
    background-image: url("./images/groupabout.png");
    background-repeat: no-repeat;
    background-position: 100% 35%;
    background-size: 35%;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15%;
    padding-left: 10px;
    width: 100%;
  }

  .bio {
    max-width: 500px;
    padding-bottom: 50px;
  }

  .whiteline {
    width: 70%;
    padding-top: 0;
    height: 1px;
    margin: 20px auto;
    margin-top: 10%;
  }

  .lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10%;
    margin-bottom: 7%;
  }

  .itemsList {
    align-items: flex-start;
    align-items: center;
  }

  .form {
    align-items: center;
    padding-top: 50px;
  }

  .formSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: auto;
    align-content: stretch;
    gap: 30px;
    border-bottom: 1px solid lightgray;
    margin-top: 5%;
  }

  .actualForm {
    margin: 0;
    align-items: stretch;
    width: 50vw;
  }

  .formTitle {
    padding: 0;
    width: 455px;
    margin: 0 1% 0 1%;
  }

  .inputform {
    border-bottom: 684px 1px solid lightgray;
  }
}
